In [ ]:
import numpy as np
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
df=pd.read_csv("/content/manga_data.csv")

In [ ]:
df.head(3)

   Manga ID  ... Score Voted By
0         0  ...         139571
1         1  ...          54901
2         2  ...         110885

[3 rows x 20 columns]

In [ ]:
df.shape

(500, 20)

In [ ]:
columns =['English Title' , 'Synonims Titles', 'Type' , 'Genres', 'Author', 'Serialization' ]

In [ ]:
df[columns].head()

         English Title  ...          Serialization
0              Berserk  ...           Young Animal
1              Unknown  ...             Ultra Jump
2  Fullmetal Alchemist  ...         Shounen Gangan
3            One Piece  ...  Shounen Jump (Weekly)
4              Monster  ...     Big Comic Original

[5 rows x 6 columns]

In [ ]:
df.isnull().values.any()

False

In [ ]:
def simliar(data):
  features = []
  for i in range(0,data.shape):
    features.append( data['English Title'][i] + ' ' + data['Synonims Titles'][i] + ' ' + data['Type'][i] + ' ' + data['Genres'][i] + ' ' + data['Author'][i] + ' ' + d'Serialization' )

    return features

In [ ]:
df['simliar'] = simliar(df)